---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <meta name="referrer" content="no-referrer" />
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time>
      {% if page.author %} &middot; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}

      {% assign post = page %}
  		{% if post.tags.size > 0 %}

  		{% assign tags_content = "" %}
  		{% for post_tag in post.tags %}
  			{% capture tags_content_temp %}
  				{{ tags_content }}<a href="{{ site.url }}{{ site.baseurl }}/tagged#{{ post_tag | slugify }}">#{{ post_tag }}</a>
  			{% endcapture %}
  			{% assign tags_content = tags_content_temp %}
  		{% endfor %}

  		&middot;	<span class="tags" itemprop="tags">{{ tags_content }}</span>

  	  {% endif %}

    </p>
    <!-- mathJax -->

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script> 
      MathJax = {
        tex: {
          inlineMath: [['$', '$']],
          processEscapes: true
        }
      };
      </script>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <hr>
  {% if page.comment %}
    {% include disqus.html %}
  {% endif %}
</article>
